

@model IEnumerable<SistemaGestionTareas.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Proyectos</h1>
<div class="container mt-4">
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
                <th>@Html.DisplayNameFor(model => model.FechaFin)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                    <td>
                        <a href="@Url.Action("Edit", "Proyectos", new { id = item.Id })" class="btn btn-sm btn-warning">Edit</a> |
                        <a href="@Url.Action("Details", "Proyectos", new { id = item.Id })" class="btn btn-sm btn-info">Details</a> |
                        <a href="@Url.Action("Delete", "Proyectos", new { id = item.Id })" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
